.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family: "Chalkboard";
  justify-content: center;
  align-items: center;
  position: relative;

  background-color:#99bbff;
  background-image:
  radial-gradient(at 92% 99%, hsla(27,96%,77%,1) 0px, transparent 50%),
  radial-gradient(at 0% 6%, hsla(353,37%,59%,1) 0px, transparent 50%),
  radial-gradient(at 26% 18%, hsla(321,26%,54%,1) 0px, transparent 50%),
  radial-gradient(at 82% 15%, hsla(305,46%,56%,1) 0px, transparent 50%),
  radial-gradient(at 97% 27%, hsla(305,78%,25%,1) 0px, transparent 50%),
  radial-gradient(at 98% 12%, hsla(320,74%,60%,1) 0px, transparent 50%);
}

.wrapper::after {
  z-index: 0;
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 440px;
  height: 440px;
  border-radius: 16rem;
  background: radial-gradient(
      77.73% 77.73% at 98.52% 96.25%,
      #000000 0%,
      rgb(0 254 71 / 73%) 50.52%,
      rgb(255 239 32 / 0%) 100%
    ),
    radial-gradient(
      141.73% 105.23% at 50% -7.16%,
      #ff0505ad 0%,
      rgba(160, 198, 255, 0) 50.73%,
      rgba(162, 147, 255, 0) 100%
    ),
    radial-gradient(
      112.27% 48.54% at 1.59% 50%,
      rgb(0 255 79 / 50%) 0%,
      rgba(255, 123, 234, 0.095) 53.91%,
      rgba(254, 216, 255, 0) 100%
    ),
    linear-gradient(153.07deg, #1500ff 6.37%, rgba(255, 230, 166, 0) 83.82%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(42px);
  z-index: 1;
  animation: rotateCircle 8s steps(100, end) infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  padding-top: 10%;
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 25rem;
  z-index: 2;
}

.cont_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 65%;
  height: 100%;
}

.img_profile {
  filter: drop-shadow(-8px -5px 0px white);
  border-radius: 0 0 40% 13%;
}

.txt_profile {
  color: black;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.msg_profile {
  color: #00ffe0;
  overflow: hidden;
  border-right: 0.15em solid #333;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.msg_profile1 {
  animation: typing1 3s steps(40, end);
}

.msg_profile2 {
  opacity: 0;
  animation: typing2 3s steps(40, end) 3.1s;
  animation-fill-mode: forwards;
}

@keyframes typing1 {
  0% {
    width: 0;
  }

  100% {
    width: 26rem;
  }
}

@keyframes typing2 {
  0% {
    opacity: 1;
    width: 0;
    border-right: 0.15em solid transparent;
  }

  1% {
    opacity: 1;
    border-right: 0.15em solid #333;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.button {
  background: rgb(169, 143, 247);
  background: linear-gradient(
    317deg,
    rgba(169, 143, 247, 1) 0%,
    rgba(255, 180, 70, 1) 100%
  );
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
  text-align: center;
}

.button:hover {
  background: black;
  animation: rotate 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

.button:hover .button_txt {
  background: linear-gradient(to right, rgba(255, 180, 70, 1) , rgba(169, 143, 247, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.button:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #103783 0%, #9bafd9 100%);
  transform: translate3d(-16px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
  width: 110%;
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
